*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}
/* styles.css */
.typing-test {
  text-align: center;
  margin-top: 20px;
}

.word-list {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}

.word-list span {
  margin-right: 5px;
}

.highlight {
  background-color: lightgray;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}

.controls {
  margin-top: 20px;
}

.results {
  margin-top: 20px;
}
